.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.buttonContainer {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 1;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoCard {
  background: rgba(255, 255, 255, 0.7) !important;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 500px;
}

.infoRow {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  margin-right: 10px;
  font-size: 1.2em;
}

.error {
  color: #e53e3e;
  text-align: center;
}

.refreshButton {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  /* 添加此行实现居中 */
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.refreshButton:hover {
  background-color: #ffffff;
  transform: scale(1.05);
}

.refreshButton:active {
  transform: scale(0.95);
}

.actionPanel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}