html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--tg-theme-secondary-bg-color, rgb(156, 45, 45));
  background-image: url('/images/背景图.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}